<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{item.name}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'userapp/css/style.css' %}" media="screen" title="notitle" charset="utf-8">
</head>
<body>
    <a href="/logout/">Logout</a> <a href="/add_trip/">Add a Trip</a> <a href="/trips">Your Trips</a>
    <h2>{{trip.destination}}</h2>
    <br>
    {% for participant in users_going_on_trip %}
    {% if participant.id != request.session.user_id %}
    <td><a href="/add_this_trip/{{trips.id}}/">Add This Trip</a></td>
    {% endif %}
    {% endfor %}
    <br>
    <h3>Users who are going to {{trip.destination}}:</h3>
    <br><br>
    

    {% if users_going_on_trip %}
        <table>
            {% for participant in users_going_on_trip %}
                <tr>
                    {% if participant.id == request.session.user_id %}
                        <td>You{% if trip.trip_creator_id == request.session.user_id %}<a href="/delete_trip/{{trip.id}}/"><sub><sup>Delete This Trip</sup></sub></a>{% endif %}{% if participant.id == request.session.user_id %}<a href="/delete_trip/{{trip.id}}/"><sub><sup>Delete This Trip</sup></sub></a>{% endif %}</td>
                    {% endif %}
                   
                </tr>
                <tr>
                    
                    {% if trip.trip_creator_id != request.session.user_id %}
                        <br>
                        <td>{{participant.first_name }} {{participant.last_name}}</td>
                    {% endif %}
                </tr>
            {% endfor %}
    
        </table>
    {% endif %}

      
</body>
</html>
